
.image {
  background-color: #490d40;
  background: url(https://www.wallpapertip.com/wmimgs/50-504389_hd-restaurant-wallpaper-hd-restaurant-design.jpg) no-repeat center center;
  background-size: cover;
  height: 570px;
  margin-top: -20px;
}

.heading {
  color:white;
  text-align: center;
  padding-top: 200px;
  
}

